<a href="https://colab.research.google.com/github/clauglock/Examen1/blob/main/Proyecto_I_Parte_3_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Proyecto I- Parte 3 (Core)**
Análisis y Predicción de Ventas en una Tienda de Retail

Parte III: Transformación y Análisis Avanzado de Datos con Pandas

In [5]:
# Importamos librerias.
import numpy as np
import pandas as pd
from google.colab import drive # Importamos la libreria para montar Google Drive

# Montar Google Drive
drive.mount('/content/drive')

def cargar_datos(ruta_archivo):
    # Carga los datos del archivo CSV utilizando Pandas
    datos = pd.read_csv(ruta_archivo)
    return datos

# Define la ruta del archivo fuera de la función
ruta_archivo =  "/content/drive/MyDrive/Colab Notebooks/BD/retail_sales_dataset.csv"

# Llama a la función para cargar los datos y asigna el resultado a la variable 'df'
df = cargar_datos(ruta_archivo)


df.info()

Mounted at /content/drive
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [ ]:
df.head(10)

**1.-Transformación de Datos**
Crea nuevas columnas: Basándonos en los datos existentes, crea nuevas columnas que sean útiles para el análisis. Por ejemplo, calcula el ingreso total por venta y normaliza las ventas.
Clasifica los datos: Crea una columna que clasifique las ventas en categorías significativas (e.g., ‘Alta’, ‘Media’, ‘Baja’).

In [6]:
# Muestra las últimas 5 filas del DataFrame.
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [9]:
#Regulariza nombre de columnas con espacio
df.columns = df.columns.str.replace(' ', '_')
print(df.columns)

Index(['transaction_id', 'date', 'customer_id', 'gender', 'age',
       'product_category', 'quantity', 'price_per_unit', 'total_amount'],
      dtype='object')

In [8]:
#Regulariza nombre de columnas dejandolas en minusculas
df.columns = df.columns.str.lower()
print(df.columns)

Index(['transaction id', 'date', 'customer id', 'gender', 'age',
       'product category', 'quantity', 'price per unit', 'total amount'],
      dtype='object')

In [10]:
#Crea una nueva columna.
df["total income"] = df["price_per_unit"] * df["total_amount"]
print(df.head())  # Muestra las primeras filas con la nueva columna

   transaction_id        date customer_id  gender  age product_category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   quantity  price_per_unit  total_amount  total income
0         3              50           150          7500
1         2             500          1000        500000
2         1              30            30           900
3         1             500           500        250000
4         2              50           100          5000

**Agrupación y Agregación**
Agrupación por múltiples columnas: Realiza agrupaciones por categorías como producto y tienda, producto y mes, etc.
Aplicar funciones de agregación: Utiliza funciones como sum, mean, count, min, max, std, y var para obtener estadísticas descriptivas de cada grupo.

In [20]:
grouped = df.groupby(['product_category','gender'])

# Suma de ventas por producto
ventas_por_producto = grouped['total_amount'].sum()
print("Ventas por producto: ")
print(ventas_por_producto)
print("  ")

# Promedio de ventas por producto

promedio_ventas_por_producto = grouped['total_amount'].mean()
print("Promedio_ventas_por_producto: ")
print(promedio_ventas_por_producto)
print("  ")

# Número de ventas por producto
conteo_ventas_por_producto = grouped['total_amount'].count()
print("Conteo Ventas por producto: ")
print(conteo_ventas_por_producto)
print("  ")

# Minimo de ventas por producto
ventas_por_producto = grouped['total_amount'].min()
print("Mínimo de Ventas por producto: ")
print(ventas_por_producto)
print("  ")

# Máximo de ventas por producto
ventas_por_producto = grouped['total_amount'].max()
print("Máximo de Ventas por producto: ")
print(ventas_por_producto)
print("  ")

# Std de ventas por producto
ventas_por_producto = grouped['total_amount'].std()
print("Desviación Estandar de Ventas por producto: ")
print(ventas_por_producto)

Ventas por producto:
product_category  gender
Beauty            Female    74830
                  Male      68685
Clothing          Female    81275
                  Male      74305
Electronics       Female    76735
                  Male      80170
Name: total_amount, dtype: int64

Promedio_ventas_por_producto:
product_category  gender
Beauty            Female    450.783133
                  Male      487.127660
Clothing          Female    467.097701
                  Male      419.802260
Electronics       Female    451.382353
                  Male      466.104651
Name: total_amount, dtype: float64

Conteo Ventas por producto:
product_category  gender
Beauty            Female    166
                  Male      141
Clothing          Female    174
                  Male      177
Electronics       Female    170
                  Male      172
Name: total_amount, dtype: int64

Mínimo de Ventas por producto:
product_category  gender
Beauty            Female    25
                  Male      25
Clothing          Female    25
                  Male      25
Electronics       Female    25
                  Male      25
Name: total_amount, dtype: int64

Máximo de Ventas por producto:
product_category  gender
Beauty            Female    2000
                  Male      2000
Clothing          Female    2000
                  Male      2000
Electronics       Female    2000
                  Male      2000
Name: total_amount, dtype: int64

Desviación Estandar de Ventas por producto:
product_category  gender
Beauty            Female    538.735040
                  Male      592.899725
Clothing          Female    577.016491
                  Male      524.116237
Electronics       Female    548.644646
                  Male      587.129702
Name: total_amount, dtype: float64

**3.-Análisis Personalizado con apply**
Función personalizada: Aplica funciones personalizadas para realizar análisis específicos que no se pueden lograr con las funciones de agregación estándar.
Ejemplo de uso avanzado: Calcula la desviación de cada venta respecto a la media de su grupo.

In [22]:

# Calcular el ingreso total por venta
df['Ingreso'] = df.apply(lambda row: row['total_amount'] * row['price_per_unit'], axis=1)

# Clasificar los productos por rango de ventas
df['Clasificación'] = df['total_amount'].apply(lambda x: 'Alta' if x > 40 else 'Baja')

# Normalizar la columna 'Ventas'
max_ventas = df['total_amount'].max()
min_ventas = df['total_amount'].min()
df['Ventas_normalizado'] = df['total_amount'].apply(lambda x: (x - min_ventas) / (max_ventas - min_ventas))

# Mostrar el DataFrame resultante
print(df)

     transaction_id        date customer_id  gender  age product_category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     quantity  price_per_unit  total_amount  total income  Ingreso  \
0           3              50           150          7500     7500
1           2             500          1000        500000   500000
2           1              30            30           900      900
3           1             500           500        250000   250000
4           2              50           100          5000     5000
..        ...             ...           ...           ...      ...
995         1              50            50          2500     2500
996         3              30            90          2700     2700
997         4              25           100          2500     2500
998         3              50           150          7500     7500
999         4              30           120          3600     3600

    Clasificación  Ventas_normalizado
0            Alta            0.063291
1            Alta            0.493671
2            Baja            0.002532
3            Alta            0.240506
4            Alta            0.037975
..            ...                 ...
995          Alta            0.012658
996          Alta            0.032911
997          Alta            0.037975
998          Alta            0.063291
999          Alta            0.048101

[1000 rows x 13 columns]